#products {
  float: left;
  width: 70%;
}

.product {
  background-color: #d5d5d5;
  float: left;
  margin: .25rem;
}

#form {
  width: 30%;
  float: right;
}

#info {
  width: 30%;
  float: right;
  margin: auto;
}
