#products {
  display: inline-block;
  width: 70%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.product {
  background-color: #d5d5d5;
  float: left;
  margin: .5rem;
}

#form {
  float: right;
}

#info {
  width: 24%;
  float: right;
  margin-top: 5rem;
  margin-right: 2rem;
  border: solid #d5d5d5;
}
